[submodule "config/.nvm"]
	path = config/.nvm
	url = https://github.com/creationix/nvm.git
[submodule "config/.pyenv/pyenv-virtualenv"]
	path = config/.pyenv/pyenv-virtualenv
	url = https://github.com/yyuu/pyenv-virtualenv.git
[submodule "config/.pyenv/root"]
	path = config/.pyenv/root
	url = https://github.com/yyuu/pyenv.git
[submodule "config/.rbenv/root"]
	path = config/.rbenv/root
	url = https://github.com/rbenv/rbenv.git
